<div class="page-wrapper">

  <div class="container-fluid">

    <%= render partial: 'home/partials/order' %>
    <%= render partial: 'home/partials/person' %>
    <%= render partial: 'home/partials/about' %>
    <%= render partial: 'home/partials/features' %>
    <%= render partial: 'home/partials/knowledge' %>
    <%= render partial: 'home/partials/slider' %>
    <%= render partial: 'home/partials/formats' %>
    <%= render partial: 'home/partials/courses' %>
    <%= render partial: 'home/partials/program' %>
    <%= render partial: 'home/partials/comments' %>

  </div>

</div>



