<%= render layout: 'devise/shared/wrapper', locals: { title: 'Войти', sub_title: 'в личный кабинет' } do %>

    <%= bootstrap_form_for resource, as: resource_name, url: session_path(resource_name),
                           html: { class: 'm-t-10 p-30'}, data: { aos: 'fade-left', 'aos-duration': '1200' } do |f| %>

        <div class="row">
          <div class="col-lg-12">
            <%= f.email_field :email, autofocus: true, hide_label: true, placeholder: 'E-mail', autocomplete: "email" %>
          </div>

          <div class="col-lg-12">
            <%= f.password_field :password, hide_label: true, placeholder: 'Пароль', autocomplete: "current-password" %>
          </div>

          <% if devise_mapping.rememberable? %>
              <div class="col-lg-12">
                <%= f.check_box :remember_me, label: 'Запомнить меня', checked: 'checked' %>
              </div>
          <% end %>

          <div class="actions col-lg-12 d-flex m-t-20">
            <button type="submit" class="btn btn-md btn-block btn-danger-gradiant btn-arrow" data-disable-with="Отправка...">
              <span> Войти <i class="ti-arrow-right"></i></span>
            </button>
          </div>
        </div>

    <% end %>

<% end %>


